@ViewBag.Message
<div id="app-content" ng-app="App" ng-cloak>

    <tabs active="0">
        <tab label="Tab 1">
            Tab 1 contents!
        </tab>
        <tab label="Tab 2">
            Tab 2 contents!
        </tab>
        <tab label="Tab 3">
            Tab 3 contents!
        </tab>
    </tabs>

    <div ng-controller="resultController as resultCtrl">
        <dynamic-accordions accordions="resultCtrl.accordions"></dynamic-accordions>
        <accordion label="Static Title">Static content</accordion>
    </div>
</div>